@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ThinItalic.eot');
    src: local('TT Commons Thin Italic'), local('TTCommons-ThinItalic'),
        url('../fonts/TTCommons-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ThinItalic.woff') format('woff'),
        url('../fonts/TTCommons-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Light.eot');
    src: local('TT Commons Light'), local('TTCommons-Light'),
        url('../fonts/TTCommons-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Light.woff') format('woff'),
        url('../fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Black.eot');
    src: local('TT Commons Black'), local('TTCommons-Black'),
        url('../fonts/TTCommons-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Black.woff') format('woff'),
        url('../fonts/TTCommons-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Medium.eot');
    src: local('TT Commons Medium'), local('TTCommons-Medium'),
        url('../fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Medium.woff') format('woff'),
        url('../fonts/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Italic.eot');
    src: local('TT Commons Italic'), local('TTCommons-Italic'),
        url('../fonts/TTCommons-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Italic.woff') format('woff'),
        url('../fonts/TTCommons-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Regular.eot');
    src: local('TT Commons Regular'), local('TTCommons-Regular'),
        url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Regular.woff') format('woff'),
        url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-BlackItalic.eot');
    src: local('TT Commons Black Italic'), local('TTCommons-BlackItalic'),
        url('../fonts/TTCommons-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-BlackItalic.woff') format('woff'),
        url('../fonts/TTCommons-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraBold.eot');
    src: local('TT Commons ExtraBold'), local('TTCommons-ExtraBold'),
        url('../fonts/TTCommons-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraBold.woff') format('woff'),
        url('../fonts/TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-BoldItalic.eot');
    src: local('TT Commons Bold Italic'), local('TTCommons-BoldItalic'),
        url('../fonts/TTCommons-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-BoldItalic.woff') format('woff'),
        url('../fonts/TTCommons-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-DemiBoldItalic.eot');
    src: local('TT Commons DemiBold Italic'), local('TTCommons-DemiBoldItalic'),
        url('../fonts/TTCommons-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-DemiBoldItalic.woff') format('woff'),
        url('../fonts/TTCommons-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Bold.eot');
    src: local('TT Commons Bold'), local('TTCommons-Bold'),
        url('../fonts/TTCommons-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Bold.woff') format('woff'),
        url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraLight.eot');
    src: local('TT Commons ExtraLight'), local('TTCommons-ExtraLight'),
        url('../fonts/TTCommons-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraLight.woff') format('woff'),
        url('../fonts/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-DemiBold.eot');
    src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
        url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-DemiBold.woff') format('woff'),
        url('../fonts/TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraLightItalic.eot');
    src: local('TT Commons ExtraLight Italic'), local('TTCommons-ExtraLightItalic'),
        url('../fonts/TTCommons-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraLightItalic.woff') format('woff'),
        url('../fonts/TTCommons-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraBoldItalic.eot');
    src: local('TT Commons ExtraBold Italic'), local('TTCommons-ExtraBoldItalic'),
        url('../fonts/TTCommons-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/TTCommons-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-MediumItalic.eot');
    src: local('TT Commons Medium Italic'), local('TTCommons-MediumItalic'),
        url('../fonts/TTCommons-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-MediumItalic.woff') format('woff'),
        url('../fonts/TTCommons-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-LightItalic.eot');
    src: local('TT Commons Light Italic'), local('TTCommons-LightItalic'),
        url('../fonts/TTCommons-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-LightItalic.woff') format('woff'),
        url('../fonts/TTCommons-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Thin.eot');
    src: local('TT Commons Thin'), local('TTCommons-Thin'),
        url('../fonts/TTCommons-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Thin.woff') format('woff'),
        url('../fonts/TTCommons-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 12:28 AM */

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansRegular.eot');
    src: local('Uni Sans Regular'), local('UniSansRegular'),
        url('../fonts/UniSansRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansRegular.woff') format('woff'),
        url('../fonts/UniSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy';
    src: url('../fonts/UniSansHeavyItalic.eot');
    src: local('Uni Sans Heavy Italic'), local('UniSansHeavyItalic'),
        url('../fonts/UniSansHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavyItalic.woff') format('woff'),
        url('../fonts/UniSansHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansThin.eot');
    src: local('Uni Sans Thin'), local('UniSansThin'),
        url('../fonts/UniSansThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansThin.woff') format('woff'),
        url('../fonts/UniSansThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansBold.eot');
    src: local('Uni Sans Bold'), local('UniSansBold'),
        url('../fonts/UniSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansBold.woff') format('woff'),
        url('../fonts/UniSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy CAPS';
    src: url('../fonts/UniSansHeavyCAPS.eot');
    src: local('Uni Sans Heavy CAPS'), local('UniSansHeavyCAPS'),
        url('../fonts/UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavyCAPS.woff') format('woff'),
        url('../fonts/UniSansHeavyCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Light';
    src: url('../fonts/UniSansLightItalic.eot');
    src: local('Uni Sans Light Italic'), local('UniSansLightItalic'),
        url('../fonts/UniSansLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansLightItalic.woff') format('woff'),
        url('../fonts/UniSansLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Book';
    src: url('../fonts/UniSansBook.eot');
    src: local('Uni Sans Book'), local('UniSansBook'),
        url('../fonts/UniSansBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansBook.woff') format('woff'),
        url('../fonts/UniSansBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansSemiBold.eot');
    src: local('Uni Sans SemiBold'), local('UniSansSemiBold'),
        url('../fonts/UniSansSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansSemiBold.woff') format('woff'),
        url('../fonts/UniSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Regular';
    src: url('../fonts/UniSansRegularItalic.eot');
    src: local('Uni Sans Regular Italic'), local('UniSansRegularItalic'),
        url('../fonts/UniSansRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansRegularItalic.woff') format('woff'),
        url('../fonts/UniSansRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansHeavy.eot');
    src: local('Uni Sans Heavy'), local('UniSansHeavy'),
        url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavy.woff') format('woff'),
        url('../fonts/UniSansHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy Italic CAPS';
    src: url('../fonts/UniSansHeavyItalicCAPS.eot');
    src: local('Uni Sans Heavy Italic CAPS'), local('UniSansHeavyItalicCAPS'),
        url('../fonts/UniSansHeavyItalicCAPS.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavyItalicCAPS.woff') format('woff'),
        url('../fonts/UniSansHeavyItalicCAPS.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Heavy Caps';
    src: url('../fonts/UniSansHeavyCapsItalic.eot');
    src: local('Uni Sans Heavy Caps Italic'), local('UniSansHeavyCapsItalic'),
        url('../fonts/UniSansHeavyCapsItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansHeavyCapsItalic.woff') format('woff'),
        url('../fonts/UniSansHeavyCapsItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans SemiBold';
    src: url('../fonts/UniSansSemiBoldItalic.eot');
    src: local('Uni Sans SemiBold Italic'), local('UniSansSemiBoldItalic'),
        url('../fonts/UniSansSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansSemiBoldItalic.woff') format('woff'),
        url('../fonts/UniSansSemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Bold';
    src: url('../fonts/UniSansBoldItalic.eot');
    src: local('Uni Sans Bold Italic'), local('UniSansBoldItalic'),
        url('../fonts/UniSansBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansBoldItalic.woff') format('woff'),
        url('../fonts/UniSansBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Book';
    src: url('../fonts/UniSansBookItalic.eot');
    src: local('Uni Sans Book Italic'), local('UniSansBookItalic'),
        url('../fonts/UniSansBookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansBookItalic.woff') format('woff'),
        url('../fonts/UniSansBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansLight.eot');
    src: local('Uni Sans Light'), local('UniSansLight'),
        url('../fonts/UniSansLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniSansLight.woff') format('woff'),
        url('../fonts/UniSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
